<aside class="sidebar hidden-sm hidden-xs">
    <div class="sidebar-stick">
        <div class="list-recirculation-module module">
            <ul class="media-list">
                <% topStory.forEach(function(story, index){ %>

                <% if (index > 1 && index < 4) { %>
                    <li class="media">
                        <a class="pull-left" href="/new/<%=story.slug%>/<%= story.espn_story_id%>">
                            <div class="img-container">

                                <img class="lazyload-alt media-object" src="<%=story.thumbnail%>" />
                                <i class="fa fa-caret-left">

                                </i>

                            </div>
                        </a>
                        <div class="media-body pull-left">
                            <h3 class="media-heading">
                                <a href="/new/<%=story.slug%>/<%= story.espn_story_id%>"><%=story.title%></a>
                            </h3>
                        </div>
                    </li>
                <% } %>
                <% }); %>

                <% topVideo.forEach(function(video, index){ %>

                <% if (index > 0 && index < 2) { %>
                <li class="media">
                    <a class="pull-left" href="/video/<%=video.slug%>/<%= video.espn_video_id%>">
                        <div class="img-container video-post">

                            <img class="lazyload-alt media-object" src="<%=video.thumbnail%>" />
                            <i class="fa fa-caret-left">
                            </i>
                            <div class="play-btn">
                                <i class="fa fa-play-circle-o "></i>
                            </div>

                        </div>
                    </a>
                    <div class="media-body pull-left">
                        <h3 class="media-heading">
                            <a href="/video/<%=video.slug%>/<%= video.espn_video_id%>"><%=video.title%></a>
                        </h3>
                    </div>
                </li>
                <% } %>
                <% }); %>
                <!--<li class="media">-->

                  <!--<div id="main_right_banner">-->

                  <!--</div>-->
                  <!--<script>-->
                  <!--var opts = {-->
                      <!--callback: function (filled) {-->
                          <!--if (filled) {-->
                              <!--console.log("ad loaded main_right_banner");-->
                          <!--} else {-->
                              <!--console.log("no ad main_right_banner");-->
                          <!--}-->
                      <!--}-->
                  <!--}-->
<!--//                  VP.ad('main_right_banner', 'main_right_banner', 160, 600, opts);-->
                  <!--</script>-->
                <!--</li>-->
            </ul>
            <!-- Composite Start -->
            <div id="M303747ScriptRootC191984">
                <div id="M303747PreloadC191984">
                    Loading...    </div>
                <script>
                  (function(){
                    var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
                    var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M303747ScriptRootC191984")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
                    catch(e){var iw=d;var c=d[gi]("M303747ScriptRootC191984");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=191984;c[ac](dv);
                    var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.mgid.com/n/e/newssnappy.com.191984.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
                </script>
            </div>
            <!-- Composite End -->
        </div>
    </div>
</aside>
