<aside class="sidebar hidden-sm hidden-xs">
    <div class="sidebar-stick">
        <div class="list-recirculation-module module">
            <ul class="media-list">
                <% topStory.forEach(function(story, index){ %>

                <% if (index > 1 && index < 4) { %>
                    <li class="media">
                        <a class="pull-left" href="/new/<%=story.slug%>/<%= story.espn_story_id%>">
                            <div class="img-container">

                                <img class="lazyload-alt media-object" src="<%=story.thumbnail%>" />
                                <i class="fa fa-caret-left">

                                </i>

                            </div>
                        </a>
                        <div class="media-body pull-left">
                            <h3 class="media-heading">
                                <a href="/new/<%=story.slug%>/<%= story.espn_story_id%>"><%=story.title%></a>
                            </h3>
                        </div>
                    </li>
                <% } %>
                <% }); %>

                <% topVideo.forEach(function(video, index){ %>

                <% if (index > 0 && index < 2) { %>
                <li class="media">
                    <a class="pull-left" href="/video/<%=video.slug%>/<%= video.espn_video_id%>">
                        <div class="img-container video-post">

                            <img class="lazyload-alt media-object" src="<%=video.thumbnail%>" />
                            <i class="fa fa-caret-left">
                            </i>
                            <div class="play-btn">
                                <i class="fa fa-play-circle-o "></i>
                            </div>

                        </div>
                    </a>
                    <div class="media-body pull-left">
                        <h3 class="media-heading">
                            <a href="/video/<%=video.slug%>/<%= video.espn_video_id%>"><%=video.title%></a>
                        </h3>
                    </div>
                </li>
                <% } %>
                <% }); %>

            </ul>
        </div>
    </div>
</aside>